body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.gallery {
	--image-size: 100px;
	display: grid;
	grid-template-columns: repeat(6, var(--image-size));
	grid-template-rows: repeat(3, 0px);
	gap: 6.5rem;
	img {
		width: 100%;
		aspect-ratio: 1;
		object-fit: cover;
		grid-column: span 2;
		width: 200px;
		height: 200px;
		&:nth-of-type(4) {
			grid-column: 2 / span 2;
		}
		transition:
			filter 500ms,
			clip-path 500ms;
		place-self: center;
		clip-path: path('M 40 0 H 160 Q 200 0 200 40 V 160 Q 200 200 160 200 H 40 Q 0 200 0 160 V 40 Q 0 0 40 0 Z');
		&:hover {
			clip-path: path(
				'M 360 0 H 1440 Q 1800 0 1802.277 -1.503 V 1796.571 Q 1802.277 1796.571 1440 1800 H 0.036 Q 0 1800 0 1440 V 360 Q 0.036 -5.67 0 0 Z'
			);
		}
	}
}

.gallery:hover > img {
	filter: brightness(0.5) saturate(0.5);
}

.gallery > img:hover {
	filter: brightness(1) saturate(1.5);
	scale: 1.3;
	z-index: 5;
}
